<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"forgot_password" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form bg-white">
    <mat-form-field class="form-full">
      <input matInput required placeholder="{{ 'email' | translate}}" [formControl]="email" (focusout)="checkEmail()">
      <mat-error *ngIf=" email.hasError('required' ) || emailError">
        {{"email_error" | translate}}
      </mat-error>
    </mat-form-field>
  </form>


  <ion-toolbar class="login-btn" (click)="checkAll()" color="primary">
    <ion-row class="g-row-center full-width submit">
      {{'send_email' | translate}}
    </ion-row>
  </ion-toolbar>

</ion-content>
