ion-list {
  // background: var(--ion-color-background);
}

.header {
    margin-left: 10px;
    font-weight: bold;
    color: var(--ion-color-primary);
    font-size: 1.1em;
}
.price {
  color: var(--ion-color-primary);
}
.sc-ion-label-md-s > p {
    margin-top: 5px;
}
.green{
  color: green;
}
.pri{
  color: var(--ion-color-primary);
}
