<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"my_personal_information" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="form bg-white" (ngSubmit)="onSubmit()">

    <mat-form-field class="form-full">
      <input matInput required placeholder="{{'email' | translate}}" [formControl]="email">
      <mat-error *ngIf="email.invalid && email.hasError('required') || emailError">
        {{"email_required" | translate}}
      </mat-error>
      <mat-error *ngIf="email.invalid && email.hasError('email')">
        {{"email_error" | translate  }}

      </mat-error>
    </mat-form-field>

    <mat-form-field [ngClass]="{'no-error':fullNameError == false, error:fullNameError == true}" class="form-full">
      <input matInput required placeholder="{{'full_name' | translate}}" [formControl]="fullName"
        (focusout)="checkFullName()">
      <mat-error *ngIf=" fullNameError">
        {{"full_name_error" | translate}}
      </mat-error>
    </mat-form-field>


    <!-- <mat-form-field class="form-full">
      <input matInput required [matDatepicker]="picker" placeholder="{{ 'birth_date' | translate}}"
        [formControl]="birthDate" (focusout)="checkBirthDate()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthDateError">
        {{"date_error"| translate}}
      </mat-error>
    </mat-form-field> -->

    <mat-form-field class="form-full">
      <input type="number" matInput required placeholder="{{ 'phone' | translate}}" [formControl]="phone"
        (focusout)="checkPhone()">
      <mat-error *ngIf="phoneError">
        {{"phone_error"| translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field [ngClass]="{'no-error':passportError == false, error:passportError == true}" class="form-full">
      <input matInput required placeholder="{{'passport' | translate}}" [formControl]="passport"
        (focusout)="checkPassport()">
      <mat-error *ngIf=" passportError">
        {{"passport_error" | translate}}
      </mat-error>
    </mat-form-field>

    <!-- <label id="radio-group-label">{{"gender" | translate}}</label>
    <mat-radio-group required aria-labelledby="radio-group-label" class="radio-group" [formControl]="gender">
      <ion-row>
        <ion-col style="margin-left:-5px" size="6" *ngFor="let option of genders">
          <mat-radio-button required [ngClass]="{'no-error':genderError == false, error:genderError == true}"
            class="radio-button" [value]="option">
            {{ option | translate}}
          </mat-radio-button>
        </ion-col>
      </ion-row>
    </mat-radio-group> -->

  </form>

  <ion-toolbar (click)="checkAll()" color="primary" class="submit">
    <ion-row class="g-row-center">
      {{'edit_information' | translate}}
    </ion-row>
  </ion-toolbar>




</ion-content>